/* This is a mobile-first layout! */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Shadows+Into+Light&display=swap');

* { /* all */
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  margin: auto;
    color: #111;
  /* border: 1px solid white; */
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden; /* hide horizontal scrollbar */
    height: 100%;
    background-image: url(images/oldpaper_small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Lato', sans-serif;
}

#wrapper {
    max-width: 100%;
    margin: auto;
    min-width: 350px;
}

.button {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 5px;
}

#button_tray {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
    margin-bottom: 40px;
}

.button p {
    display: none;
}

.button img { /* button crossout line */
    opacity: 0;
}

figcaption {
    font-weight: bold;
    padding-top: 10px;
}

.button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    padding: 5px;
    opacity: 0.5; /* grayed out by default */
    border: 4px solid #111;
    margin-bottom: 20px
}

#fingerprints {
    background-image: url(images/fingerprints1.png);
}

#ghostWriting {
    background-image: url(images/ghostwriting1.png);
}

#ghostOrb {
    background-image: url(images/ghostorb3.png);
}

#emf5 {
    background-image: url(images/emf53.png);
}

#freezingTemps {
    background-image: url(images/freezingtemps1.png);
}

#spiritBox {
    background-image: url(images/spiritbox1.png);
}

.crossed { /* evidence that's been matched */
  text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}

.circled {
    background-image: url(images/circle2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#header {
  padding: 10px 0;
}

#display {
  margin-bottom: 20px;
}

.ghost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#placeholder { /* shows when no ghost results */
  display: none;
  padding-bottom: 5px;
}

#results {
  padding-top: 20px;
  padding-bottom: 10px;
}

.ghost, #results, #placeholder { /* red line between entries */
  border-bottom: 4px solid #111;
}

.evidence1, .evidence2, .evidence3 {
     line-height: 45px;
}

.name, #header h1, #placeholder {
  font-size: 2.5em;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

.evidence1, .evidence2, .evidence3 {
    line-height: 30px; /* how tall cell is */
    border-top: 2px solid #222;
}

.description {
    display: none;
    border-top: 2px solid #222;
    padding: 5px 10px 10px 10px;
}

#results, .evidence1, .evidence2, .evidence3, .description {
    font-weight: bold;
    font-size: 1.25em;
}

.description span, #results p, footer {
    font-size: 0.85em;
}

.description .strength {
    padding-bottom: 10px;
}

 footer, footer a, #results span {
    display: inline;
    font-weight: bold;
}

#results p {
    padding-top: 5px;
}

footer {
  font-size: 1.1em;
  padding-bottom: 20px;
}

#btnScroll {
    background-color: #A33232;
    background-image: url(images/arrow_up.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    padding: 10px 0px;
    position: fixed;
    width: 40px;
    height: 50px;
    bottom: 30px;
    left: 0px;
    display: none;
    transition: bottom 0.25s; /* smoov hover anim */
    border-radius: 0 10px 10px 0;
}

#btnScroll:hover {
    bottom: 35px;
}

.available { /* for available buttons */
    opacity: 1;
}

#attLink { /* clickable to open attribute div */
    text-decoration: underline;
    margin-bottom: 20px;
}

#attributions {
    border-top: 4px solid #111;
    border-bottom: 4px solid #111;
    padding: 10px 0;
    margin-bottom: 20px;
    display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*            RESPONSIVE DESIGN
*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Larger phones & tablets */
/* @media only screen and (min-width: 600px) {
  #button_tray {
    max-width: 70%;
  }
} */

/* Laptops, desktops, etc*/
@media only screen and (min-width: 992px) { 
    #btnScroll {
        bottom: 0px;
        left: 200px;
        width: 80px;
        border-radius: 10px 10px 0 0;
    }
    
    #btnScroll:hover {
        bottom: 0px;
    }
}



/* Laptops, desktops, etc*/
/* @media only screen and (min-width: 992px) {
  * {
    font-size: 18px;
  }
  body {
    max-width: 70%;
  }
  .ghost {
    flex-wrap: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .ghost div {
    width: 200px;
    text-align: left;
  }
  .name, #header h1 {
    font-size: 2em;
  }
  .name {
    margin: 0;
  }
  .evidence1, .evidence2, .evidence3 {
    margin: 0;
    border: none;
    line-height: normal;
    padding-top: 24px;
  }
  #placeholder {
    padding-top: 3px;
    padding-bottom: 3px;
  }
} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*                ANIMATIONS
*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
